/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* color: #000; */
  /* background: #fff; */
}

/* App Wrapper */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 10px; /* Added padding for better responsiveness */
}

/* Swiper - Initial styles */
.swiper {
  width: 100%;
  max-width: 480px;  /* Make sure it doesn't grow too wide */
  height: 560px;
  margin: 0 auto; /* Center the swiper on the page */
  border-radius: 18px; /* Add rounded corners */
  overflow: hidden; /* To keep the content inside the swiper contained */
}

/* For small screens (mobile devices) */
@media (max-width: 640px) {
  .swiper {
    width: 60%;
    height: 320px; /* Let height adjust automatically */
  }
}

/* For medium screens (tablets) */
@media (min-width: 641px) and (max-width: 1024px) {
  .swiper {
    width: 55%; /* Adjust the width to 80% of the parent */
    height: 320px; /* Let the height adjust automatically */
  }
}

/* For large screens (desktop and above) */
@media (min-width: 1025px) {
  .swiper {
    width: 480px; /* Keep width fixed */
    height: 560px; /* Keep height fixed */
  }
}

/* Swiper Slide */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  height: 100%; /* Ensure the slide takes full height */
  text-align: center; /* Center text */
  border-radius: 18px;
}



/* Optional: Add smooth transition effect for slides */
.swiper-slide {
  transition: 0.3s ease-in-out;
}
.swiper-slide img {
  object-fit: cover;
  height: 100%; /* Ensure the slide takes full height */
  /* z-index: 999; */
}
